@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
/*
s|WindowedApplication{
	backgroundColor:#CCCCCC;
	modalTransparency:0;
	modalTransparencyBlur:0;
	modalTransparencyColor:#CCCCCC;
	
}*/

@font-face {
	src: url("../assets/bender.ttf");
	fontFamily: "BenderFont";
	embedAsCFF: true;
}

.cellLabel
{
	color: #ffffff;
	fontSize: 6;
	fontFamily:BenderFont;
	textAlign: center;
}

.tileRendererLabel{
	color: #ffffff;
	fontSize: 10;
	fontFamily:BenderFont;
	textAlign: center;
}